@charset "UTF-8";/*对div进行布局样式控制*/
body{
	background-color:#c0c5bc;
	width:1200px;
	height:900px;
}
.header{
	height:50px;
	background-color:#c0c5bc;
	text-align:center;
	
}
.container{
	height:800px;
}
.aside{
	width:20%;
	height:850px;
	float:left;
	background-color:#c0c5bc;
}
#article{
	width:80%;
	height:850px;
	background-color:#c0c5bc;
}

